/******** COLOR GUIDE ********
Primary-Pink: rgb(246, 160, 170)
Green: rgb(118, 136, 56)
Lavendar: rgb(235, 211, 223)
Grey: rgb(87, 87, 87)

****************************/
html{
  font-size: 62.5%; /*** This defines what 1 rem is; How I got this: 10/16.25 and multiplied it by 100 ***/
  overflow-x: hidden;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  position: relative;
  background-color: white;
  padding:3.5rem 0 2rem;
}

h1{
  position: absolute;
  z-index: 11;
  top: 25%;
  text-align: left;
  font-size: 2.5rem;
  font-family: source-serif-pro;
  padding-left: 2.5rem;
  font-style: italic;
  color: white;
}

h2{
  font-family: source-serif-pro;
  padding-bottom: 3rem;
  color: rgb(87, 87, 87);
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
}

.logo_title{
  max-width: 67%;
  display: block;
  margin: 0 auto;
}

.burger {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: .1rem;
  left: .5rem;
  border-radius: 100%;
  z-index: 101;
  background: transparent;
}

.hero-container{
  position: relative;
}

.hero-button{
  position: absolute;
  z-index: 11;
  top: 70%;
  left: 0;
  width: 100%;
  background: transparent;
  text-align: center;
}



.hero-button a:link,
.hero-button a:visited{
  display: inline-block;
  background: white;
  width: 9rem;
  margin: 0 2rem;
  padding: 1rem;
  border-radius: .3rem;
  text-decoration: none;
  color: rgb(246, 160, 170);
  font-size: 1.5rem;
  font-weight: 700;
}

.hero-img {
  position: relative;
  width: 100%;
}

.hero-img img {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.hero-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(235, 211, 223, 0.4);
}

.explore h2{
  padding: 2rem 0 0;
  font-size: 3rem;
  font-family: source-serif-pro;
  text-align: center;
}

/*************************************************
                  HAMBURGER MENU
https://codepen.io/hackmans/pen/zbKQoj
*************************************************/

.burger:hover {
  cursor: pointer;
}

.burger span{
  position: relative;
  margin-top: .9rem;
  margin-bottom: .9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}
.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 3.2rem;
  height: .4rem;
  border-radius: .4rem;
  background-color: rgb(246, 160, 170);
  transition-duration: 0.3s;
}
.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}
.burger span::before {
  top: -9px;
}
.burger span::after {
  top: 9px;
}
.burger.clicked span {
  background-color: transparent;
}
.burger.clicked span::before {
  transform: translateY(9px) rotate(45deg);
}
.burger.clicked span::after {
  transform: translateY(-9px) rotate(-45deg);
}
.burger.clicked span:before, .burger.clicked span:after {
  background-color: rgb(246, 160, 170);
}

.mobile-menu {
	z-index: 100;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 80px 0;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.mobile-menu.show {
  transform: translateX(0px);
}
.mobile-menu.show ul li.mobile-links {
  transform: translateX(0px);
  opacity: 1;
}

.mobile-menu ul li.mobile-links {
  list-style-type: none;
  margin: 0 auto;
  padding: 0px 40px;
}
.mobile-menu ul li.mobile-links {
  margin-bottom: 10px;
  transform: translateX(40px);
  opacity: 0;
  transition: all 0.3s ease;
}
.mobile-menu ul li.mobile-links:last-of-type {
  margin-bottom: 0px;
}

/*************************************************
              ACCORDION NAVIGATION
https://www.w3schools.com/howto/howto_js_accordion.asp
*************************************************/

.accordion {
  background-color: white;
  color: pink;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3rem;
  transition: 0.4s ease;
  display: inline-block;
  font-family: source-serif-pro, serif;
  font-weight: 600;
  font-style: normal;
}

.mobile-links a{
  text-decoration: none;
  color: rgb(246, 160, 170);
}

.mobile-links a:hover,
.mobile-links a:active{
  text-decoration: none;
  color: rgb(246, 160, 170);
  font-style: italic;
  transition: 2s;
}

.panel {
  padding: 0 1rem;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.panel a:link,
.panel a:active,
.panel a:visited{
  color: rgb(118, 136, 56);
  list-style-type: none;
  font-size: 2.1rem;
}

.panel li{
  list-style-type: none;
  text-align: center;
  padding: .5rem 0;
}

.desktop-menu{
  display: none;
}


.row {
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 6.5rem;
}

.col-1-of-2.left-col {
  color: rgb(87, 87, 87);
  font-family: source-serif-pro;
  font-size: 1.4rem;
  line-height: 1.7rem;
  background: rgb(253, 209, 214);
  display: flex;
  align-items: center;
  min-height: 30rem;
  padding: 2rem 2rem;
}

.icon-container{
padding: 3rem 0 8rem;
}

.icon-box:not(:last-child){
  padding-bottom: 3rem;
}

.icon-button a:link,
.icon-button a:visited {
  display: inherit;
  background: rgb(246, 160, 170);
  width: 10rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: .3rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.img-icon{
  max-width: 20%;
  margin: 0 auto;
  display: block;
  padding-bottom: 1.5rem;
}

.footer{
  padding: 2rem;
  border-top: 1px solid rgb(235, 211, 223);
}

.footer-links{
  max-width: 100%;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
}

.footer-links li{
  display: inline;
  padding: 2rem;
}

.nav {
  background: #555;
  text-align: center;
  display: none;
}

.social-media-desktop{
  display: none;
}

/*************************************************
                 MEDIA QUERIES
*************************************************/

/****** START 370PX MIN-WIDTH MEDIA QUERY ******/

@media (min-width: 370px) {
  html{
    font-size: 63%;
  }

  h1{
    font-size: 2.8rem;
  }

  .hero-img img {
    height: 30rem;
  }

  .hero-button a:link,
  .hero-button a:visited{
    width: 12rem;
    margin: 0 3rem;
    font-size: 1.7rem
  }

  .col-1-of-2.left-col {
    font-size: 1.6rem;
    line-height: 1.9rem;
    min-height: 30rem;
    padding: 3rem 3rem;
  }

}
/******* END 370PX MIN-WIDTH MEDIA QUERY *******/

/****** START 500PX MIN-WIDTH MEDIA QUERY ******/

@media (min-width: 500px) {

  h1{
    font-size: 3.5rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding-left: 0;
  }

  .hero-img img {
    object-position: 50% 70%;
  }

  .col-1-of-2.left-col {
    font-size: 1.7rem;
    line-height: 2.2rem;
    min-height: 40rem;
    padding: 3rem 3rem;
  }

  .icon-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .img-icon{
    max-width: 45%;
  }

  .icon-box:not(:last-child){
    padding-bottom: 0rem;
  }

}
/******* END 500PX MIN-WIDTH MEDIA QUERY *******/

/****** START 750PX MIN-WIDTH MEDIA QUERY ******/

@media (min-width: 750px) {

  .hero-img img {
    display: block;
    width: 100%;
    height: 40rem;
    object-fit: cover;
    object-position: center;
    }

    .burger, .mobile-menu{
      display: none;
    }

    .social-media-desktop{
      display: inline-block;
      position: absolute;
      top: .5rem;
      left: .5rem;
      width: 25%;
    }

    .social-media-desktop-links{
      display: inline-block;
    }

    .social-media-desktop-links li{
      display: inline-block;
      padding: .5rem;
    }

    .icon-container{
      width: 70%;
      justify-content: space-around;
    }

    .img-icon{
      max-width: 45%;
    }



    /*************************************************
                      DROPDOWN MENU
    https://codepen.io/nevaljawko/pen/LzYQQv
    *************************************************/

    .nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .nav {
      background: white;
      text-align: center;
      display: block;
    }

    .nav ul {
      display: inline-block;
      vertical-align: top;
      font-size: 2rem;
      font-family: source-serif-pro;
    }

    .nav ul li {
      position: relative;
      float: left;
    }

    .nav ul li + li {
      margin-left: 1px;
    }

    .nav ul li a {
      background: white;
      display: inline-block;
      color: rgb(87, 87, 87);
      text-decoration: none;
      padding: 2rem 2.5rem 1rem;
      -webkit-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;
    }

    .nav ul li a:hover {
      background: transparent;
    }

    .nav ul li > ul {
      display: none;
      position: absolute;
      width: 18rem;
      top: 100%;
      left: -1px;
      z-index: 99;
      text-align: left;
    }

    .nav ul li > ul li {
      float: none;
      margin: 0;
    }

    .nav ul li > ul li a {
      display: block;
      z-index: 99;
    }

    .nav ul li > ul li a:hover {
      background: white;
      z-index: 99;
      color: rgb(118, 136, 56);
    }

    .nav ul li:hover a, .nav ul li.active a {
      background: white;
      z-index: 2;
      color: rgb(246, 160, 170);
    }

    .nav ul li.active {
      pointer-events: none;
    }


  .row::after {
    content: "";
    display: table;
    clear: both; }

  .row [class^="col-"] {
    float: left; }

  .row [class^="col-"]:not(:last-child) {
    margin-right: 0; }

  .col-1-of-2 {
    width: calc((100%) / 2); }
  }

/******* END 750PX MIN-WIDTH MEDIA QUERY *******/

/****** START 1300PX MIN-WIDTH MEDIA QUERY ******/

@media (min-width: 1300px) {

  .icon-container{
    width: 60%;
    justify-content: space-around;
  }

  .img-icon{
    max-width: 65%;
  }
  }

  .site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .site-content {
    flex: 1;
  }
/******* END 1300PX MIN-WIDTH MEDIA QUERY *******/

/****** START 700PX MAX-WIDTH MEDIA QUERY ******/

@media (max-width: 750px) {
  .right-col{
    display: none;
  }
}
/******* END 700PX MAX-WIDTH MEDIA QUERY *******/

/****** START 500PX MAX-WIDTH MEDIA QUERY ******/

@media (max-width: 500px) {
  h1{
    max-width: 50rem;
  }
}
/******* END 700PX MAX-WIDTH MEDIA QUERY *******/
